<a href="https://colab.research.google.com/github/HarryAI-6748/ml-project/blob/main/pandas_aiml_hindi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/mckinsey (1).csv')
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.shape

(1704, 6)

In [ ]:
df.size

10224

In [ ]:
df.ndim

2

In [ ]:
df.head(10) # top rows

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962    10267083      Asia    31.997  853.100710
3  Afghanistan  1967    11537966      Asia    34.020  836.197138
4  Afghanistan  1972    13079460      Asia    36.088  739.981106
5  Afghanistan  1977    14880372      Asia    38.438  786.113360
6  Afghanistan  1982    12881816      Asia    39.854  978.011439
7  Afghanistan  1987    13867957      Asia    40.822  852.395945
8  Afghanistan  1992    16317921      Asia    41.674  649.341395
9  Afghanistan  1997    22227415      Asia    41.763  635.341351

In [ ]:
df.tail(7)

       country  year  population continent  life_exp     gdp_cap
1697  Zimbabwe  1977     6642107    Africa    57.674  685.587682
1698  Zimbabwe  1982     7636524    Africa    60.363  788.855041
1699  Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700  Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701  Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702  Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703  Zimbabwe  2007    12311143    Africa    43.487  469.709298

In [ ]:
df['country']

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [ ]:
type(df['country'])

pandas.core.series.Series

In [ ]:
df['country'].values

array(['Afghanistan', 'Afghanistan', 'Afghanistan', ..., 'Zimbabwe',
       'Zimbabwe', 'Zimbabwe'], dtype=object)

In [ ]:
df.values

array([['Afghanistan', 1952, 8425333, 'Asia', 28.801, 779.4453145],
       ['Afghanistan', 1957, 9240934, 'Asia', 30.332, 820.8530296],
       ['Afghanistan', 1962, 10267083, 'Asia', 31.997, 853.10071],
       ...,
       ['Zimbabwe', 1997, 11404948, 'Africa', 46.809, 792.4499603],
       ['Zimbabwe', 2002, 11926563, 'Africa', 39.989, 672.0386227],
       ['Zimbabwe', 2007, 12311143, 'Africa', 43.487, 469.7092981]],
      dtype=object)

In [ ]:
df['life_exp']

0       28.801
1       30.332
2       31.997
3       34.020
4       36.088
         ...
1699    62.351
1700    60.377
1701    46.809
1702    39.989
1703    43.487
Name: life_exp, Length: 1704, dtype: float64

In [ ]:
x = pd.Series([10,20,30])
x > 15

0    False
1     True
2     True
dtype: bool

In [ ]:
# masking
# x[[False,True,True]]
x[x>15]

1    20
2    30
dtype: int64

In [ ]:
pd.Series([10,'Pulkit',30]) # '10'

0        10
1    Pulkit
2        30
dtype: object

In [ ]:
# create a new column

df['gdp'] = df['population'] * df['gdp_cap']
df.head()

       country  year  population continent  life_exp     gdp_cap           gdp
0  Afghanistan  1952     8425333      Asia    28.801  779.445314  6.567086e+09
1  Afghanistan  1957     9240934      Asia    30.332  820.853030  7.585449e+09
2  Afghanistan  1962    10267083      Asia    31.997  853.100710  8.758856e+09
3  Afghanistan  1967    11537966      Asia    34.020  836.197138  9.648014e+09
4  Afghanistan  1972    13079460      Asia    36.088  739.981106  9.678553e+09

In [ ]:
df['year'] = df['year'] + 3

In [ ]:
df.head()

       country  year  population continent  life_exp     gdp_cap           gdp
0  Afghanistan  1955     8425333      Asia    28.801  779.445314  6.567086e+09
1  Afghanistan  1960     9240934      Asia    30.332  820.853030  7.585449e+09
2  Afghanistan  1965    10267083      Asia    31.997  853.100710  8.758856e+09
3  Afghanistan  1970    11537966      Asia    34.020  836.197138  9.648014e+09
4  Afghanistan  1975    13079460      Asia    36.088  739.981106  9.678553e+09

In [ ]:
# filter: indexing
df['year'][2]

np.int64(1965)

In [ ]:
condition =  df['year'] == 1955 # comparison output is boolean series
df[condition]

,country,year,population,continent,life_exp,gdp_cap,gdp
0,Afghanistan,1955,8425333,Asia,28.801,779.445314,6.567086e+09
12,Albania,1955,1282697,Europe,55.230,1601.056136,2.053670e+09
24,Algeria,1955,9279525,Africa,43.077,2449.008185,2.272563e+10
36,Angola,1955,4232095,Africa,30.015,3520.610273,1.489956e+10
48,Argentina,1955,17876956,Americas,62.485,5911.315053,1.056763e+11
...,...,...,...,...,...,...,...
1644,Vietnam,1955,26246839,Asia,40.412,605.066492,1.588108e+10
1656,West Bank and Gaza,1955,1030585,Asia,43.160,1515.592329,1.561947e+09
1668,"Yemen, Rep.",1955,4963829,Asia,32.548,781.717576,3.880312e+09
1680,Zambia,1955,2672000,Africa,42.038,1147.388831,3.065823e+09
1692,Zimbabwe,1955,3080907,Africa,48.451,406.884115,1.253572e+09

In [ ]:
df[df['year'] == 1955]

,country,year,population,continent,life_exp,gdp_cap,gdp
0,Afghanistan,1955,8425333,Asia,28.801,779.445314,6.567086e+09
12,Albania,1955,1282697,Europe,55.230,1601.056136,2.053670e+09
24,Algeria,1955,9279525,Africa,43.077,2449.008185,2.272563e+10
36,Angola,1955,4232095,Africa,30.015,3520.610273,1.489956e+10
48,Argentina,1955,17876956,Americas,62.485,5911.315053,1.056763e+11
...,...,...,...,...,...,...,...
1644,Vietnam,1955,26246839,Asia,40.412,605.066492,1.588108e+10
1656,West Bank and Gaza,1955,1030585,Asia,43.160,1515.592329,1.561947e+09
1668,"Yemen, Rep.",1955,4963829,Asia,32.548,781.717576,3.880312e+09
1680,Zambia,1955,2672000,Africa,42.038,1147.388831,3.065823e+09
1692,Zimbabwe,1955,3080907,Africa,48.451,406.884115,1.253572e+09

In [ ]:
df[df['year'] >= 2000]

,country,year,population,continent,life_exp,gdp_cap,gdp
9,Afghanistan,2000,22227415,Asia,41.763,635.341351,1.412200e+10
10,Afghanistan,2005,25268405,Asia,42.129,726.734055,1.836341e+10
11,Afghanistan,2010,31889923,Asia,43.828,974.580338,3.107929e+10
21,Albania,2000,3428038,Europe,72.950,3193.054604,1.094591e+10
22,Albania,2005,3508512,Europe,75.651,4604.211737,1.615393e+10
...,...,...,...,...,...,...,...
1690,Zambia,2005,10595811,Africa,39.193,1071.613938,1.135462e+10
1691,Zambia,2010,11746035,Africa,42.384,1271.211593,1.493170e+10
1701,Zimbabwe,2000,11404948,Africa,46.809,792.449960,9.037851e+09
1702,Zimbabwe,2005,11926563,Africa,39.989,672.038623,8.015111e+09
1703,Zimbabwe,2010,12311143,Africa,43.487,469.709298,5.782658e+09

In [ ]:
df[df['continent'] == 'Europe']

,country,year,population,continent,life_exp,gdp_cap,gdp
12,Albania,1955,1282697,Europe,55.230,1601.056136,2.053670e+09
13,Albania,1960,1476505,Europe,59.280,1942.284244,2.867792e+09
14,Albania,1965,1728137,Europe,64.820,2312.888958,3.996989e+09
15,Albania,1970,1984060,Europe,66.220,2760.196931,5.476396e+09
16,Albania,1975,2263554,Europe,67.690,3313.422188,7.500110e+09
...,...,...,...,...,...,...,...
1603,United Kingdom,1990,56981620,Europe,75.007,21664.787670,1.234495e+12
1604,United Kingdom,1995,57866349,Europe,76.420,22705.092540,1.313861e+12
1605,United Kingdom,2000,58808266,Europe,77.218,26074.531360,1.533398e+12
1606,United Kingdom,2005,59912431,Europe,78.471,29478.999190,1.766159e+12
1607,United Kingdom,2010,60776238,Europe,79.425,33203.261280,2.017969e+12

In [ ]:
df.describe()

             year    population     life_exp        gdp_cap           gdp
count  1704.00000  1.704000e+03  1704.000000    1704.000000  1.704000e+03
mean   1982.50000  2.960121e+07    59.474439    7215.327081  1.868096e+11
std      17.26533  1.061579e+08    12.917107    9857.454543  7.140297e+11
min    1955.00000  6.001100e+04    23.599000     241.165876  5.278469e+07
25%    1968.75000  2.793664e+06    48.198000    1202.060309  5.895295e+09
50%    1982.50000  7.023596e+06    60.712500    3531.846988  2.234330e+10
75%    1996.25000  1.958522e+07    70.845500    9325.462346  1.057441e+11
max    2010.00000  1.318683e+09    82.603000  113523.132900  1.293446e+13

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     1704 non-null   object
 1   year        1704 non-null   int64
 2   population  1704 non-null   int64
 3   continent   1704 non-null   object
 4   life_exp    1704 non-null   float64
 5   gdp_cap     1704 non-null   float64
 6   gdp         1704 non-null   float64
dtypes: float64(3), int64(2), object(2)
memory usage: 93.3+ KB

In [ ]:
# selecting multiple columns
cols = ['year','life_exp']
df[cols] # filter brackets expect only a single input

      year  life_exp
0     1955    28.801
1     1960    30.332
2     1965    31.997
3     1970    34.020
4     1975    36.088
...    ...       ...
1699  1990    62.351
1700  1995    60.377
1701  2000    46.809
1702  2005    39.989
1703  2010    43.487

[1704 rows x 2 columns]

In [ ]:
df[['life_exp','year']]

      life_exp  year
0       28.801  1955
1       30.332  1960
2       31.997  1965
3       34.020  1970
4       36.088  1975
...        ...   ...
1699    62.351  1990
1700    60.377  1995
1701    46.809  2000
1702    39.989  2005
1703    43.487  2010

[1704 rows x 2 columns]

In [ ]:
# multiple filter conditions

df_1955_eur = df[(df['continent'] == 'Europe') & (df['year'] == 1955)]
df_1955_eur

,country,year,population,continent,life_exp,gdp_cap,gdp
12,Albania,1955,1282697,Europe,55.230,1601.056136,2.053670e+09
72,Austria,1955,6927772,Europe,66.800,6137.076492,4.251627e+10
108,Belgium,1955,8730405,Europe,68.000,8343.105127,7.283869e+10
144,Bosnia and Herzegovina,1955,2791000,Europe,53.820,973.533195,2.717131e+09
180,Bulgaria,1955,7274900,Europe,59.600,2444.286648,1.778194e+10
372,Croatia,1955,3882229,Europe,61.210,3119.236520,1.210959e+10
396,Czech Republic,1955,9125183,Europe,66.870,6876.140250,6.274604e+10
408,Denmark,1955,4334000,Europe,70.780,9692.385245,4.200680e+10
516,Finland,1955,4090500,Europe,66.550,6424.519071,2.627950e+10
528,France,1955,42459667,Europe,67.410,7029.809327,2.984834e+11
564,Germany,1955,69145952,Europe,67.500,7144.114393,4.939866e+11
588,Greece,1955,7733250,Europe,65.860,3530.690067,2.730371e+10
672,Hungary,1955,9504000,Europe,64.030,5263.673816,5.002596e+10
684,Iceland,1955,147962,Europe,72.490,7267.688428,1.075342e+09
744,Ireland,1955,2952156,Europe,66.910,5210.280328,1.538156e+10
768,Italy,1955,47666000,Europe,65.940,4931.404155,2.350603e+11
1008,Montenegro,1955,413834,Europe,59.164,2647.585601,1.095661e+09
1080,Netherlands,1955,10381988,Europe,72.130,8941.571858,9.283129e+10
1140,Norway,1955,3327728,Europe,72.670,10095.421720,3.359482e+10
1224,Poland,1955,25730551,Europe,61.310,4029.329699,1.036769e+11
1236,Portugal,1955,8526050,Europe,59.820,3068.319867,2.616065e+10
1272,Romania,1955,16630000,Europe,61.050,3144.613186,5.229492e+10
1332,Serbia,1955,6860147,Europe,57.996,3581.459448,2.456934e+10
1368,Slovak Republic,1955,3558137,Europe,64.360,5074.659104,1.805633e+10
1380,Slovenia,1955,1489518,Europe,65.570,4215.041741,6.278381e+09
1416,Spain,1955,28549870,Europe,64.940,3834.034742,1.094612e+11
1464,Sweden,1955,7124673,Europe,71.860,8527.844662,6.075810e+10
1476,Switzerland,1955,4815000,Europe,69.620,14734.232750,7.094533e+10
1572,Turkey,1955,22235677,Europe,43.585,1969.100980,4.378429e+10
1596,United Kingdom,1955,50430000,Europe,69.180,9979.508487,5.032666e+11

In [ ]:
# country with lowest and highest life exp

df['life_exp'].min()

23.599

In [ ]:
df[df['life_exp'] == df['life_exp'].min()]

     country  year  population continent  life_exp     gdp_cap           gdp
1292  Rwanda  1995     7290203    Africa    23.599  737.068595  5.373380e+09

In [ ]:
df[df['life_exp'] == df['life_exp'].max()]